@import 'variables';
@import 'stars';

body {
  margin: 0;
}

.card-content {
  width: $card-width;
  height: $card-height;
  border: 1px solid $color-border;
  border-radius: 5px;

  &__image {
    margin: 32px 19px 40px;
    width: $image-width;
    height: $image-height;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin: 0 $spacing-md $spacing-xs;
    font-family: $font-main;
    font-weight: $font-weight-medium;
    font-size: $font-size-sm;
    line-height: 18px;
  }

  &__code {
    width: 98px;
    height: 14px;
    margin: 0 0 $spacing-md $spacing-md;
    font-family: $font-main;
    font-weight: $font-weight-regular;
    font-size: $font-size-xs;
    color: $color-text;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $rating-width;
    height: $star-size;
    margin: 0 0 $spacing-lg $spacing-md;

    &-reviews {
      font-family: $font-main;
      font-weight: $font-weight-regular;
      font-size: $font-size-xs;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $price-width;
    height: $price-height;
    margin: 0 0 $spacing-md $spacing-md;

    &-label {
      font-family: $font-main;
      font-weight: $font-weight-regular;
      font-size: $font-size-sm;
      color: $color-text;
    }

    &-value {
      font-family: $font-main;
      font-weight: $font-weight-bold;
      font-size: $font-size-lg;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $price-width;
    height: $button-height;
    border-radius: 5px;
    border: none;
    background-color: $color-primary;
    color: $color-white;
    font-family: $font-main;
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
    margin: 0 0 $spacing-md $spacing-md;
    cursor: pointer;

    &:hover {
      background-color: $color-white;
      border: 1px solid $color-primary;
      color: $color-primary;
    }
  }
}
