// fonts
$font-main: 'Roboto', sans-serif;

// font sizes
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;

// font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// colors
$color-text: #616070;
$color-primary: #00acdc;
$color-white: #f3f3f3;
$color-border: #f3f3f3;
$color-text-title: #060b35;

// spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// sizes
$card-width: 200px;
$card-height: 408px;
$image-width: 160px;
$image-height: 134px;
$button-height: 40px;
$rating-width: 166px;
$price-width: 166px;
$price-height: 18px;
$star-size: 16px;
$line-height: 18px;
$border-radius: 5px;
